@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/*Shared Styles*/
.display-flex {
  display: flex;
}

.button-primary {
  background-color: #FF900E;
  color: white;
  padding: 20px 25px;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 8px;
  border: none;
}

main {
  max-width: 1440px;
  margin: 0 auto;
}

main>.feature {
  margin-top: 130px;
}

/*Dark 02*/
.text-gray {
  color: #424242;
}

/*Dark 03*/
.text-light-gray {
  color: #727272;
}

.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}

/*Header Styles*/


/*Navbar Style*/
.navbar {
  justify-content: space-between;
  align-items: center;
}

.brand {
  font-weight: 700;
  font-size: 3rem;
}

.nav-item {
  list-style: none;
  margin-right: 30px;
}

.nav-link {
  text-decoration: none;
  font-weight: 500;
}

.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}

/*banner related styles*/
.banner-content {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.banner-title {
  font-size: 4rem;
  font-weight: 700;

}

.banner-img {
  width: 100%;
}

/*Feature Styles*/

.feature {
  display: flex;
  margin:

}

.feature-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.feature-text {
  margin: auto auto;
  padding-left: 73px;
  max-width: 530px;

}

.feature-text h2, h3 {
  font-size: 2.8rem;

}

#quick-list {
  font-weight: 500;
}

.feat {
  color: #FF900E;
}

/*Fact Styles*/

.fact-description{
  max-width: 540px;
}
.fact-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.fact-card {
  width: 240px;
  width: 240px;
  border-radius: 8px;
  border: 1px solid #FF900E;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}

.fact-number{
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}
.fact-name{
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 10px;
}

/*Sponsor Styles*/

.sponsor{
  margin-top: 70px;
}
.sponsor-img{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.sponsor-img img{
  filter: grayscale(100%);
}

.sponsor-text{
  margin: 150px auto;
  margin-bottom: 10px;
  text-align: center;
 padding-bottom: 52px;
 padding-top: 5px;
 width: 542px;
}

/*Footer Styles*/

footer{
  max-width: 1440px;
  height: 100px;
  background-color: #FFF4E7;
  border-radius: 8px;
  margin: 216px 240px;
  margin-top: 130px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 27px;
  font-weight: 500;
  font-size: 20px;
  
}


/*Responsive Media Query*/

@media screen and (max-width: 576px) {

  .navbar,
  .nav-link,
  .feature {
    flex-direction: column;
  }

  .feature-img {
    grid-template-columns: repeat(1, 1fr);
  }

  .feature-img img {
    width: 100%;
  }

  .feature-text {
    padding-left: 10px;
  }

  .banner-img {
    width: 100%;
  }

  .fact-container{
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: 24px;
  }

  .sponsor-img{
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: 25px;
  }
.sponsor-text{
  width: 100%;
}

footer{
  width: 100%;
}
}